<h1>Artists:</h1>
<ul>
<%@artists.each do |artist|%>
  <li><%=artist.name%></li>
  <p> <%=artist.songs.count%> songs </p>
  <% artist.songs.each do |song|%>
  <li><%=link_to song.title, song_path(song) %> </li>
  <% end %>
<% end %>
</ul>
